div{color: black ;
  background-color: grey;
padding: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding top: 0px;
padding-right: 0px;
border: 5px solid black;
width: 600px;
height: 600px ;
inlin
}
#salem{background-image: url(https://media.tenor.com/images/2b50b6b7fe9eda03e9762b0d6d48efba/tenor.gif)}
#cool2{
    width: 30%;
}
#loock{width:90%;
    right: 300px ;
    margin-left: 30px;
 }
#kikiki{
   
    margin-left: 700px;
    
}
#kikiki2{
    margin-right: 700px;
}